# dependencies and build output
node_modules
dist
dist-ssr

# secrets and local env files (never commit these!)
*.local
.env
.vapid-private.local

# logs
*.log

# editor stuff
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
